.container{
padding: 5%;

}

h1, h2, h3 {
font-family: 'Quicksand', sans-serif;
}

th{
font-family: 'Quicksand'; sans-serif;
font-weight: 200;

}

p, table {
  font-family: 'Open Sans', sans-serif;
}

i.fa-times{
color: red;

}

i.fa-dragon, i.fa-smile-wink{
  font-size: 24 !important;

}

.moviegiftcard, .moviegiftcard_rope, .moviegiftcard_uber{
text-align: left;
border-color: #f4845f;
border-right-style: dotted;
border-width: thin;
padding-bottom: 10px;
margin: 10px;
width:300px;
}

.moviegiftcard_flowers, .moviegiftcard_teddy{
text-align: right;
padding-bottom: 10px;
margin: 10px;
width: 100px:


  }





.logo{
width: 50px;
height: 50px;
float: right;
padding: 10px;

}

td{
padding:20px !important;

}

#giftcard_uitleg{
padding-top: 30px;
padding-bottom:55px;

}

.orange{
background-color: #f79d65;

}

.yellow_orange{
background-color: #f7b267;

}

.dark_orange{
background-color: #f4845f;

}

.red {
background-color: #f03a47;

}

.darkest_orange{
background-color: #27059;

}
